In [11]:
#Dependencies and setup
import pandas as pd
from pathlib import Path

#File to load
school_data_to_load = Path("schools_complete.csv")
student_data_to_load= Path("students_complete.csv")

#Read School and Student Data File and store into Pandas Dataframes
school_data_df = pd.read_csv(school_data_to_load)
student_data_df = pd.read_csv(student_data_to_load)

#combine the data into a single dataset
school_data_complete_df = pd.merge(student_data, school_data, how ="left", on=(["school_name","school_name"]))
school_data_complete_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [27]:
#calculate the total number of unique schools
school_count = len(school_data_complete_df["school_name"].unique())
print(school_count)

15

In [16]:
#calculate the total number of students
total_students = school_data_complete_df["student_name"].count()
print("total number of students:", total_students)

total number of students: 39170

In [32]:
#calculate the total budget
total_budget = school_data_complete_df["budget"].sum()
print(total_budget)

82932329558

In [33]:
#calculate the average (mean) math score
school_data_complete_df["math_score"].mean()

78.98537145774827

In [34]:
#calculate the average reading score
school_data_complete_df["reading_score"].mean()

81.87784018381414

In [ ]:
#use the following to calculate the percentage of students that passed math (math scores greater than or equal to 70)